<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {%for msg in get_flashed_messages()%}
     <p>{{msg}}</p>
  {%endfor%}

  {% macro input() %}
  <input type="text" value="123" size="40">
  {% endmacro %}

  <h1>input1</h1>
  {{input()}}

  <h1>input2</h1>
  {{input()}}

 {% macro input3(type="text",value="",size=30) %}
  <input type="{{type}}" value="{{value}}" size="{{size}}">
  {% endmacro %}

   <h1>input3</h1>
  {{input3("password","",50)}}

   {% import "macro_input.html" as minput %}
     <h1>input4</h1>
   {{minput.input4()}}
</body>
</html>